
body {
    background-color: rgb(178, 179, 187)
}
h1 {
    color: rgb(54, 96, 221);
    font: outline;
    font-family: fantasy;
    text-align: center;
    
}
p {
    color: rgb(54, 96, 221);

}

a {
    color: rosybrown;

}